@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.swal-overlay {
    background-color: rgba(95, 100, 158, 0.45);
  }

  .swal-title{
    color: green;
    font-family: Anuphan;
  }
  .swal-text{
    font-weight: 800;
    font-family: Anuphan;
  }
  .swal-button{
    background: #08143d;
    font-family: Anuphan;
  }
 

  @layer components{
    .list { @apply flex flex-col items-center gap-8 bg-white w-[100px] h-[100px] p-3 rounded-md  font-bold text-[12px]}
  }
